<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="Description" content="Enter your description here"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="/static/solafa.css">
        <title>Solafa</title>
    </head>
    <body>

        <div class="container mt-5 mb-5">
            <div class="text-header mb-5">Solafa
                <span style="color: darkgray; margin-right: 0.5rem; margin-left: 0.5rem;">X</span>
                <span class="logo"><img class="solana-logo" src="/static/img/phantom-icon-purple.png" alt="solana-logo"></span>
                <div id="button_space" class="mt-1" style="display: inline-block; float: right;">
                    <button id="conn-btn" class="btn btn-success conn-btn">Connect Wallet</button>
                </div>

                <div class="container content text-center mt-5">
                    <h1 class="text-content"><span class="sol">SOL</span> to the &#128640; &#127765;
                    </h1>
                </div>


                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
                <script src="/static/solafa.js"></script>
            </body>
        </html>
    </body>
</html>
